pandas                                                                                            
matplotlib                                 
seaborn                                              
pathlib                                      
textblob                                     
plotly.express
