pandas                                             
import                                               
matplotlib                                 
seaborn                                              
pathlib                                      
textblob                                     
plotly.express
